[user]
	name = Takeshi Tsukamoto
	email = dev@itome.team
[core]
    ignorecase = false
    quotepath = false
    safecrlf = true
	autocrlf = false
	editor = nvim
[ghq]
    root = ~/Projects
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
