[user]
	name = Takeshi Tsukamoto
	email = dev@itome.team
[core]
    ignorecase = false
    quotepath = false
    safecrlf = true
	autocrlf = input
    editor = nvim
[ghq]
    root = ~/Projects
[pull]
	rebase = false
