
inoremap <C-f> <Right>
inoremap <C-b> <Left>

noremap <C-a> ^
noremap <C-e> $

noremap / :action Find<CR>
noremap <Space><Space> :action GotoAction<CR>
noremap <Space>d :action GotoDeclaration<CR>
noremap <Space>u :action FindUsages<CR>
noremap <Space>r :action RenameElement<CR>
noremap <Space>p :action ParameterInfo<CR>
noremap <Space><f10> :action Run<CR>
noremap <Space><f9> :action Debug<CR>
noremap <Space>m :action Move<CR>
noremap <Space>f :action Macro.ReformatCodeAndOptimizeImportOnSave<CR>
noremap <Space>b :action Back<CR>
noremap <Space>ww :action NextSplitter<CR>
noremap <Space>w/ :action SplitVertically<CR>
noremap <Space><f1> :action ToggleFullScreen<CR>
noremap <Space>; :action ToggleLineBreakpoint<CR>
noremap <Space>0 :action ActivateProjectToolWindow<CR>
noremap <Space>g :action Generate<CR>
